* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'gabriel_weiss_friends_fontRg';
  src: url('./fonts/gabriel_weiss_friends/gabrwffr-webfont.woff2') format('woff2'),
       url('./fonts/gabriel_weiss_friends/gabrwffr-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandlight';
  src: url('./fonts/Quicksand/quicksand-light-webfont.woff2') format('woff2'),
       url('./fonts/Quicksand/quicksand-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: black;
}

h1, h2, h3 {
  font-family: 'gabriel_weiss_friends_fontRg';
  color: white;
}

p {
  color: #69BF8D;
  font-family: 'quicksandlight';
  font-weight: bold;
  font-size: 1.25em;
  margin-top: 5px;
}

h2 {
  margin-bottom: 20px;
}

.App {
  height: 1000px;
}

.nav {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h2.bluelink a{
  color: #42a2d6;
  text-decoration: none;
}

h2.redlink a{
  color: #ff4238;
  text-decoration: none;
}

h2.yellowlink a{
  color: #fff580;
  text-decoration: none;
}

.friends-collection {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
}

.friend-image {
  margin: 2%;
  display: flex;
  flex-direction: row;
}

.friend-image img{
  width: 300px;  
}

.friend-card {
  font-family: 'quicksandlight';
  color: white;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.header {
  margin-bottom: 20px;
}

.background-logo {
  z-index: -1;
  height: auto;
  width: 100%;
}

.add-friend-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.old-friends {
  padding: 50px;
  text-align: left;
}

.old-friend-list {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

form {
  padding: 50px;
}

.form-fields {
  color: white;
  font-family: 'quicksandlight';
  width: 200px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
}

input {
  width: 175px;
}

.input-button {
  font-family: 'gabriel_weiss_friends_fontRg';
  border-radius: 50px;
  background-color: #9c8cd4;
}

.old-friend-list h3 {
  cursor: pointer;
}






